#footer p a {
  color: #656565;
  text-decoration: underline;
}

#footer ul {
  margin: 10px 0px 20px;
  padding: 0px;
  list-style: none;
}

#footer a, #footer a:visited, #footer a:active {
  color: black;
}

#footer h3 {
  color: #de0000;
  font: 130% 'PT Sans', serif;
}

