/* @group Navigation */

#navigation {
  display: block;
  background: url(../images/header-line.gif) repeat-x 0 bottom;
  padding-top: 20px;
}

#navigation * {
  padding: 0;
  margin: 0;
}

#navigation ul {
  display: block;
  margin: 0 auto;
}

#navigation li {
  display: block;
  float: left;
  margin-right: 20px;
}

#navigation li a {
  display: block;
  font-weight: normal;
  text-decoration: none;
  background-position: 50% 0;
  padding: 20px 0 5px;
  color: #353535;
  font-size: 14px;
}

#navigation li a.current, #navigation li a.section {
  border-bottom: 3px solid #cf2f19;
  color: #cf2f19;
}


/* @group Auto-clearing */

#navigation:after, #navigation ul:after, #header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#navigation, #navigation ul, #header:after {
  display: inline-block
}

/* Hides from IE-mac \*/
* html #navigation, * html #navigation ul {
  height: 1%
}
#navigation, #navigation ul, #header:after {
  display: block
}
/* End hide from IE-mac */

/* @end */

/* @group Logo */

#logo a {
  display: block;
  margin-top: 8px;
  text-indent: -1000em;
  background: url(../images/open-stack-cloud-computing-logo-2.png) no-repeat left center;
  height: 54px;
  width: 177px;
  margin-left: -10px;
}

/* @end */

/* @group Header */

body.ng-scope {
  background: white url(../images/openstack-page-bkg.jpg) no-repeat scroll 0px 0px;
  border-top: 0px;
  color: #535353;
  padding-top: 0px;
}

#header {
  margin-bottom: 0px;
  margin-top: 20px;
}

/* @end */
