table.status-table {
    width: 100%;
    overflow: auto;

    thead {
        white-space: nowrap;

        th[sort-field="name"] {
            width: 100%;
        }

        th:not(:first-child) {
            min-width: 75px;
        }

        th:last-child {
            @extend .hidden-xs;
            @extend .hidden-sm;

            min-width: 300px;
            max-width: 300px;
        }
    }

    tbody {
        td:last-child {
            @extend .hidden-xs;
            @extend .hidden-sm;
        }
    }
}

table.default-cols {
    thead {
        th {
            white-space: nowrap;
            min-width: 75px;
        }
    }

    tbody {
        td {
            white-space: normal !important;
            word-wrap: break-word;
            max-width: 650px;
        }
    }

}

.panel-controls {
    @extend .clearfix;

    .panel-title {
        @extend .pull-left;

        padding-top: 8px;
    }

    > .input-group {
        @extend .input-group-sm;
        @extend .pull-right;

        width: 50%;

        .input-group-addon:first-child {
            position: relative;
            left: 2px;

            * {
                position: relative;
                left: -1px;
            }
        }
    }

    > .form-inline {
        @extend .pull-right;

        .input-group {
            @extend .input-group-sm;

            min-width: 250px;

            .input-group-addon:first-child {
                position: relative;
                left: 2px;
                width: 1px;

                * {
                    position: relative;
                    left: -1px;
                }

                & + input {
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                }
            }
        }

        .btn-group {
            @extend .btn-group-sm;
        }
    }
}

.tooltip .osh-tooltip {

    td {
        padding: 5px;
    }

    .legend-color-guide div {
        width: 12px;
        height: 12px;
        border: 1px solid #999;
    }
}

h1.page-header {
    word-wrap: break-word;
}
