# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
hacking>=3.0.1,<3.1.0 # Apache-2.0

coverage!=4.4,>=4.0 # Apache-2.0
docutils>=0.11 # OSI-Approved Open Source, Public Domain
stestr>=1.0.0 # Apache-2.0
mock>=2.0 # BSD
fixtures>=3.0.0 # Apache-2.0/BSD
feedparser>=5.2.1
