{% extends 'template.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block head-extra %}
<!-- Script for summary page-->
    <script src="{% static 'js/summary.js' %}"></script>
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Local Run Summary</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Tempest Runs</div>
            <div class="panel-body" id="run-summary-div">

            </div>
        </div>
    </div>
</div>

<script>
var urlSuffix = "";
if ("{{use_gzip}}" === "True") {
    urlSuffix = ".gz";
}

var tempestRuns = [];

/* {% for provider in tempest_providers %} begin generated */
/* {% for index in provider.indexes %} */
tempestRuns.push({
    provider: "{{provider.name}}",
    providerDescription: "{{provider.description}}",
    run: parseInt("{{index}}"),
    url: "tempest_api_tree_{{provider.name}}_{{index}}.json" + urlSuffix
});
/* {% endfor %} */
/* {% endfor %} end generated */

window.addEventListener('load', createTables( tempestRuns ));
</script>

{% endblock %}
