<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        <li>
            <a href="/"><i class="fa fa-pie-chart fa-fw"></i> Overview</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> DevStack<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="/devstack/results"><i class="fa fa-clock-o fa-fw"></i> Results</a>
                </li>
                <li>
                    <a href="/devstack/"><i class="fa fa-calendar fa-fw"></i> History</a>
                </li>
                <li>
                    <a href="/devstack/"><i class="fa fa-database fa-fw"></i> Compare</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Tempest<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="tempest_summary.html"><i class="fa fa-bar-chart-o fa-fw"></i> Summary</a>
                </li>
                <li>
                    <a href="tempest_results_{{ tempest_latest_run }}.html"><i class="fa fa-clock-o fa-fw"></i> Results</a>
                </li>
                <li>
                    <a href="tempest_timeline_{{ tempest_latest_run }}.html"><i class="fa fa-calendar fa-fw"></i> Timeline</a>
                </li>
                <!--<li>
                    <a href="/tempest/"><i class="fa fa-database fa-fw"></i> Compare</a>
                </li>-->
                <li>
                    <a href="tempest_aggregate.html"><i class="fa fa-bar-chart-o fa-fw"></i> Aggregate Results</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
    </ul>
</div>
<!-- /.sidebar-collapse -->
