<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ dataset.name }}</h3>
    </div>
    <div class="panel-body">
        More details go here
    </div>
    <div class="panel-footer clearfix">
        <div class="btn-group pull-right">
            <a type="button"
               class="btn btn-default"
               ui-sref="timeline({datasetId: dataset.id})">Timeline</a>
            <a type="button"
               class="btn btn-default"
               ui-sref="sunburst({datasetId: dataset.id})">Suburst</a>
       </div>
    </div>
</div>
