<table class="table">
    <thead>
        <tr>
            <th sort-field="test_id">Test ID</th>
            <th sort-field="start_time">Start Time</th>
            <th sort-default sort-field="stop_time">Stop Time</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(k, v) in scope.value.fails">
            <td>
                <a ui-sref="test({ testId: v.test_id })"}>
                    {{ v.test_id }}
                </a>
            </td>
            <td>{{ v.start_time | date:'M/d/yyyy HH:mm' }}</td>
            <td>{{ v.stop_time | date:'M/d/yyyy HH:mm' }}</td>
        </tr>
    </tbody>
</table>
