{% extends 'template.html' %}

{% load staticfiles %}

{% block title %}Tempest Summary{% endblock %}

{% block head-extra %}
<!-- Script for summary page-->
    <script src="{% static 'js/summary.js' %}"></script>
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Local Tempest Run Summary</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Test Runs</div>
            <div class="panel-body" id="run-summary-div">

            </div>
        </div>
    </div>
</div>

<script>
var tempest_runs = '{{tempest_runs|join:","}}'.split(",");
var urls = [];
for (var run in tempest_runs) {
    var url = "tempest_api_tree_" + run + ".json";
    if ("{{use_gzip}}" === "True") {
        url += ".gz";
    }

    urls.push({ url: url, run: run });
}

window.addEventListener('load', createTables( urls ));
</script>

{% endblock %}
