{% extends 'template.html' %}

{% block title %}Tempest Summary{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tempest Run Summary</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">Overview</div>
            <div class="panel-body">
                <div class="table-responsive" id="overview-table-div">
                    <table class="table table-bordered table-hover table-striped" id="overview-table">
                        <tr>
                            <td>    Total Time: </td>
                            <td id="cell-total-time"></td>
                        </tr>
                        <tr>
                            <td>    Successes: </td>
                            <td id="cell-successes"></td>
                        </tr>
                        <tr>
                            <td>    Failures: </td>
                            <td id="cell-failures"></td>
                        </tr>
                        <tr>
                            <td>    Longest Test: </td>
                            <td id="cell-longest-test"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}