{% extends 'template.html' %}
{% load staticfiles %}

{% block title %}Tempest: Execution Timeline (run #{{run_id}}){% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tempest: Execution Timeline (run #{{run_id}})</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i> Timeline
            </div>

            <div id="timeline-container" class="panel-body">

            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/timeline.js' %}"></script>
<script>

window.addEventListener('load', function() {
    loadTimeline("/tempest/api/raw/{{run_id}}/");
});
</script>
{% endblock %}
