<nav class="navbar-breadcrumb navbar navbar-default">
    <ul class="nav navbar-nav navbar-left nav-breadcrumb">
        <li><a ui-sref="home"><fa name="home"></fa></a></li>
        <li uib-dropdown>
            <span ng-switch on="'tests' | isState">
                <a ng-switch-when="true" uib-dropdown-toggle href>
                    Tests <fa name="caret-down"></fa>
                </a>
                <a ng-switch-default uib-dropdown-toggle href>
                    Overview <fa name="caret-down"></fa>
                </a>
            </span>

            <ul role="menu" class="dropdown-menu">
                <li>
                    <a ui-sref="home"><fa name="line-chart" fw></fa> Overview</a>
                </li>
                <li>
                    <a ui-sref="tests"><fa name="bar-chart" fw></fa> Tests</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li uib-popover ng-if="showPeriod == 'true'">
                <a uib-popover-template="'crumb-period-popover.html'"
                   popover-placement="bottom"
                   popover-animation="false"
                   popover-trigger="outsideClick"
                   href>
                    <fa name="calendar"></fa>
                    &nbsp;Period: {{duration.humanize()}}&nbsp;
                    <fa name="caret-down"></fa>
                </a>
            </li>
            <li uib-dropdown ng-if="showGroupKey == 'true'">
                <a uib-dropdown-toggle href title="Group By Key">
                    <fa name="key"></fa>
                    &nbsp;Grouping: {{selectedGroupKey}}&nbsp;
                    <fa name="caret-down"></fa>
                </a>
                <ul role="menu" class="dropdown-menu">
                    <li ng-repeat="key in groupKeys">
                        <a ng-click="setGroupKey(key)">
                            {{key}}
                            <fa name="check"
                                class="pull-right"
                                ng-if="key == selectedGroupKey"></fa>
                        </a>
                    </li>
                </ul>
            </li>
            <li uib-dropdown ng-if="showResolution == 'true'">
                <a uib-dropdown-toggle href title="Resolution">
                    <fa name="expand"></fa>
                    &nbsp;Resolution: {{selectedResolution.key}}&nbsp;
                    <fa name="caret-down"></fa>
                </a>
                <ul role="menu" class="dropdown-menu">
                    <li ng-repeat="res in resolutionOptions">
                        <a ng-click="setResolution(res)">
                            {{res.name}}
                            <fa name="check"
                                class="pull-right"
                                ng-if="res == selectedResolution"></fa>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
