<div>
    <label>End Date:</label>
    <p class="input-group">
        <span class="input-group-addon"><fa name="calendar"></fa></span>
        <input ng-model="menu.selectedPeriodEnd" class="form-control" type="date">
    </p>

    <label>Duration:</label>
    <p class="input-group">
        <span class="input-group-addon"><fa name="clock-o"></fa></span>
        <select class="form-control" ng-model="menu.selectedPeriodIndex" ng-change="menu.updateIndex()">
            <option value="{{$index}}"
                    ng-repeat="period in periodOptions"
                    ng-disabled="periods.indexOf(period) == -1">
                {{period.humanize()}}
            </option>
        </select>
    </p>
</div>
