<header class="bs-header">
    <div class="container">
        <h1 class="page-header">{{ groupedRuns.name }} jobs</h1>
        <crumb-menu show-resolution="true" show-period="true">
            <li>{{ groupedRuns.runMetadataKey }}: {{ groupedRuns.name }}</li>
        </crumb-menu>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <loading-indicator></loading-indicator>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Total Jobs</h3>
                </div>
                <div class="panel-body">
                    <chart-line data="groupedRuns.chartData" width="100%" height="250"
                                tick-format-x="d"></chart-line>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Job Failure Rate</h3>
                </div>
                <div class="panel-body">
                    <chart-line data="groupedRuns.chartDataRate" width="100%" height="250"
                                force-y="[0,1]" tick-format-x="%"></chart-line>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Recent Runs</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Job Name</th>
                            <th>Status</th>
                            <th>Run At</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="run in groupedRuns.recentRuns">
                            <td><a ui-sref="job({ jobName: run.build_name })">{{ run.build_name }}</a></td>
                            <td>{{ run.status }}</td>
                            <td>{{ run.start_date }}</td>
                            <td><a href="{{ run.link }}">{{ run.link }}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Jobs</h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Search for job" ng-model="groupedRuns.searchJob" ng-change="groupedRuns.onSearchChange()">
                        </div>
                    </div>
                </form>
                <table table-sort class="table table-striped" data="groupedRuns.jobs">
                    <thead>
                        <tr>
                            <th sort-field="name">Job Name</th>
                            <th sort-field="passes">Passed</th>
                            <th sort-field="failures">Failed</th>
                            <th sort-default sort-field="failuresRate">% Failed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr table-ref="table" ng-repeat="job in table.dataSorted | filter:groupedRuns.searchJob">
                            <td><a ui-sref="job({ jobName: job.name })">{{ job.name }}</a></td>
                            <td>{{ job.passes }}</td>
                            <td>{{ job.failures }}</td>
                            <td>{{ job.failuresRate|number:2 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>
