<header class="bs-header">
    <div class="container">
        <h1 class="page-header">OpenStack Health</h1>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Builds</h3>
                </div>
                <div class="panel-body">
                    <chart-stock project-entries="home.chartEntries"></chart-stock>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4" ng-repeat="project in home.projects">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{project.name}}</h3>
            </div>
            <div class="panel-body">
                <chart-gauge project="project"></chart-gauge>
            </div>
        </div>
    </div>
</div>
