
<header class="bs-header">
    <div class="container">
        <h1 class="page-header">{{ home.title }}</h1>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="heading -medium">Here is a fancy number served up courtesy of Angular: <span class="number-example">{{ home.number }}</span></h3>

            <img src="images/angular.png" height="100" example-directive />
            <img src="images/gulp.png" height="100" />
            <img src="images/browserify.png" height="100" />
        </div>
    </div>
</div>
