<ul class="nav navbar-top-links navbar-right">
    <li>
        <a ui-sref="home"><fa name="pie-chart" fw></fa> Overview</a>
    </li>
    <li dropdown>
        <a href dropdown-toggle>
            <fa name="bar-chart-o" fw></fa> Tempest <fa name="caret-down"></fa>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">
                    <fa name="clock-o" fw></fa> Sunburst
                </a>
            </li>
            <li>
                <a ui-sref="timeline">
                    <fa name="calendar" fw></fa> Timeline
                </a>
            </li>
            <li>
                <a href="#"><fa name="bar-chart-o" fw></fa> Aggregate Results</a>
            </li>
        </ul>
    </li>
    <li dropdown>
        <a href dropdown-toggle>
            <fa name="bar-chart-o" fw></fa> Upstream <fa name="caret-down"></fa>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#"><fa name="bar-chart-o" fw></fa> Test Stats</a>
            </li>
            <li>
                <a href="#"><fa name="clock-o" fw></fa> Run Data</a>
            </li>
        </ul>
    </li>
</ul>
