<header class="bs-header">
    <div class="container">
        <h1 class="page-header">{{ project.name }} jobs</h1>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Total Jobs</h3>
                </div>
                <div class="panel-body">
                    <chart-line data="project.chartData" width="100%" height="250"></chart-line>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Job Failure Rate</h3>
                </div>
                <div class="panel-body">
                    <chart-line data="project.chartDataRate" width="100%" height="250" force-y="[0,1]" tick-format-x="%"></chart-line>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Jobs</h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Search for job" ng-model="project.searchJob">
                        </div>
                    </div>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <a href="#" ng-click="project.sortType = 'name' ; project.sortReverse = !project.sortReverse">
                                  Job Name
                                </a>
                                <span ng-show="project.sortType == 'name' && !project.sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="project.sortType == 'name' && project.sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th>
                                <a href="#" ng-click="project.sortType = 'passes' ; project.sortReverse = !project.sortReverse">
                                    Passed
                                </a>
                                <span ng-show="project.sortType == 'passes' && !project.sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="project.sortType == 'passes' && project.sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th>
                                <a href="#" ng-click="project.sortType = 'failures' ; project.sortReverse = !project.sortReverse">
                                    Failed
                                </a>
                                <span ng-show="project.sortType == 'failures' && !project.sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="project.sortType == 'failures' && project.sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th>
                                <a href="#" ng-click="project.sortType = 'failuresRate' ; project.sortReverse = !project.sortReverse">
                                    % Failed
                                </a>
                                <span ng-show="project.sortType == 'failuresRate' && !project.sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="project.sortType == 'failuresRate' && project.sortReverse" class="fa fa-caret-up"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="job in project.jobs | orderBy:project.sortType:project.sortReverse | filter:project.searchJob">
                            <td><a href="#">{{ job.name }}</a></td>
                            <td>{{ job.passes }}</td>
                            <td>{{ job.failures }}</td>
                            <td>{{ job.failuresRate|number:2 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
