<header class="bs-header">
    <div class="container">
        <h1 class="page-header">Tests</h1>
        <crumb-menu></crumb-menu>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <loading-indicator></loading-indicator>
            <fresh-check></fresh-check>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading panel-controls">
                    <h3 class="panel-title">Tests by Prefix</h3>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control"
                               placeholder="Search for prefix"
                               ng-model="tests.filter"
                               ng-model-options="{debounce: 250}">
                    </div>
                </div>
                <div class="list-group">
                    <a ng-repeat="prefix in tests.prefixes | regex:null:tests.filter"
                       ui-sref="testsDetail({ key: prefix })"
                       class="list-group-item">{{ prefix }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
